//ШРИФТ=====================================================================

$font-family: "Roboto", sans-serif;
$font-size: 16px;

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================
// GOOGLE FONTS (&display=swap)=====================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// /GOOGLE FONTS=====================================================================

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================

//ШРИФТ=====================================================================
//CONTAINER=====================================================================
$container-width: 1380px;
$container-padding: 15px;
//CONTAINER=====================================================================
//VARIABLES=====================================================================
$blue41: #4144bf;
$blue00: #0038d2;
$blue53: #5326d4;
$blue32: #324477;
$greyblue: #8996b7;
$black: #172345;
$darkblue: #415286;
$grayaa: #aaaaaa;
$grayde: #dee6f3;
$beige: #f5b4a4;
$beigelight: #fdf8f5;
$pink: #ffbbb8;
$green: #85ccc8;
$greengray: #d3e1e6;
$footerblue: #6c77b5;
//VARIABLES=====================================================================
